{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "env"     : {
    "browser" : true,
    "jasmine" : true
  },
  "rules": {
    "array-bracket-spacing": ["error", "always", { "objectsInArrays": false, "arraysInArrays": false }],
    "block-spacing": ["error", "always"],
    "computed-property-spacing": ["error", "always"],
    "object-curly-spacing": ["error", "always", { "objectsInObjects": false, "arraysInObjects": false }],
    "operator-linebreak": ["error", "after"],
    "max-len": [2, 120, 2],
    "semi" : [2, "always"],
    "space-infix-ops": 1,
    "space-in-parens": ["error", "always", { "exceptions": [ "{}", "[]", "()", "empty" ]}],
    "react/jsx-curly-spacing": ["error", "always"],
    "template-curly-spacing": ["error", "always"]
  }
}
